body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
a:hover,
a:focus {
  color:#404BBF
}
.list {
  list-style-type: none;
}
button:hover,
button:focus {
  color:#404BBF
  cursor: pointer;
}
.button{
  border-radius: 4px;
background: var(--ocean, #404BBF);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
} 
.raleway-text:hover,
.raleway-text:focus{
  color:#404BBF
}  
.logotype {
  color: var(--iris, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.raleway-text {
  color: var(--navyblue, #2e2f42);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.menu-link {
  color: var(--navyblue, #2e2f42);

  /* Body Medium */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.adress-link:hover,
.adress-link:focus {
  color: #404bbf;
}
.main-tittle {
  color: var(--white, #fff);
  text-align: center;

  /* Header 1 */
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0, 02em;
}
.main-tittle-item{
  color: var(--navyblue, #2E2F42);

/* Header 3 */
font-family: "Roboto", sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.002em;
}
.tittle {
  color: var(--navyblue, #2e2f42);
  text-align: center;

  /* Header 3 */
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.text{
  color: var(--slate, #434455);
text-align: center;

/* Body */
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}
.team-tittle{
  color: var(--navyblue, #2E2F42);
text-align: center;

/* Header 2 */
font-family: "Roboto", sans-serif;
font-size: 36px;
font-weight: 700;
line-height: 1.1;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.footer-text{
color: var(--cloud, #F4F4FD);

/* Body */
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

